@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #a1c3ff;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #3474e6;
  color: #fff;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.header {
  background-color: #0151cc;
  color: #fff;
  min-height: 400px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.boxes h1 {
  font-size: 34px;
  color: #333;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.our-shows {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.box {
  flex: 1;
  background: #0a51cc;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.box i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 30px;
  }

  .header .container img {
    width: 75%;
    padding-top: 25px;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }

  .quote .container {
    margin: 25px 25px;
    max-width: 75%;
    font-size: 28px;
  }

 .icon-socials {
  flex-direction: column;
 }

}

.boxes img {
  max-height: 150px;

}

.quote {
  font-size: 38px;
  background: #0a51cc;
  width: 100%;
  color: #fff;
  font-style: italic;
}

.quote .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;

}

.quote .container h3 {
  display: flex;
  justify-content: end;
}

.socials {
  width: 100%;

}

.icon-socials img {
  max-width: 100px;
  max-height: 100px;
}

.icon-socials {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  align-items: center;
}

.our-socials {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

footer {
  background: #3474e6;
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 35px;
}
